<!DOCTYPE html>
<html>
<body>
<h1>IMX Exercise Part 2</h1>
<p>Click on the link to reveal answer</p>
<p><a href="avg_ev_range">Find the average range of the vehicles in the data base where that data exists.</a></p>
<p><a href="make_highest_avg_ev_range">Of all the makes in the database, which has the highest overall average range?</a></p>
<p><a href="most_common_year">Find the most common model year of cars in the database.</a></p>
<p><a href="hybrid_market_share">Of all the vehicles in the dataset, what percentage are hybrid vehicles?</a></p>
<p><a href="most_common_car">Of all the cars in the database, what car (Make, model, and year) is the most common?</a></p>
<p><a href="most_prolific_make">Of all the Makes in the database, which has the most unique cars(Model, year)?</a></p>
<p><a href="newest_postal_code">On average, what postal code has the most recent model year?</a></p>
<p><a href="range_growth">How much higher is the averge ev range between cars of a model year on or before before 2010 and cars of a model year on or after 2020?</a></p>
<p>NOTE: For the last question, 1:1 models between the two time ranges are not available in the data. I've shown the avg for each model after 2020 instead.</p>
</body>
</html>
